.venv/
__pycache__/
*.pyc
data/raw/
data/interim/
data/processed/**
data/cache/**
data/serving/**
data/benchmark_system
!data/serving.dvc
!data/serving/*.dvc
!data/processed/**/
!data/processed/**/*.dvc

artifacts/**
!artifacts/**/
!artifacts/**/*.dvc

mlruns/
mlflow.db
mlartifacts/

.ipynb_checkpoints/

.env
.env.*
!.env.example
README.md

.pytest_cache/
.ruff_cache/
.coverage
htmlcov/


.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
crash.log
crash.*.log

*.pt
*.pth
*.ckpt
*.bin
*.safetensors
*.pkl
*.joblib

#DVC
dvc.yaml