.venv/
__pycache__/
*.pyc
data/raw/
data/interim/
data/processed/**
!data/processed/**/
!data/processed/**/*.dvc

artifacts/**
!artifacts/**/
!artifacts/**/*.dvc
mlruns/
.ipynb_checkpoints/