datasets==4.8.4
joblib==1.5.3
matplotlib==3.10.8
mlflow==3.11.1
mlflow_skinny==3.11.1
mlflow_tracing==3.11.1
openai==2.32.0
pandas==3.0.2
peft==0.19.1
protobuf==7.34.1
python-dotenv==1.2.2
PyYAML==6.0.3
scikit_learn==1.8.0
torch==2.11.0
transformers==5.5.4
trl==1.2.0
